@media (max-width:1030px){
    /* home css*/
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 50% center;
        min-height: 500px;
    }  

    .home .home-banner .home-banner-text{
        
        text-align: right;
        width: 100%;
        
    }
    .home .home-banner-2 .home-banner-text .heading{
        font-size:3.4rem ;
    }
    .home .home-banner .home-banner-text h1{
        font-size: 3rem;
        text-align:end;
        margin-top: 30%;

    }
    .home .home-banner .home-banner-text h2{
        font-size: 1.2rem;
        text-align: right;
    }
    .home .home-banner .home-banner-text h4{
        display:none;
        
    }
    .home .home-banner .home-banner-text .btn-danger{
        padding: 0.5rem 1.5rem;
    }
    


    


    /*offer css*/
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 3rem;
    }

    .special .countdown-container .countdown-counter li{
        padding:1.5rem;

    }

}

@media (max-width:991px){
    .home .home-banner .home-banner-text{
        text-align: right;
        transform: translate(-66%, -50%);
    }

    .special .countdown-container {
        padding-top:1rem;
        padding-bottom: 5rem;

    }
    .home .home-banner .home-banner-text .btn-danger{
        align-content: flex-end;
        padding: 0.3rem 1.2rem;
    }

    /*Testimonial*/
.testimonial .carousel-control-prev{
    left:-1.25rem;
}

.testimonial .carousel-control-next{
    right:-0.75rem;
}

}

@media (max-width:767px){
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 50% center;
        min-height: 450px;
    }

    .home .home-banner .home-banner-text{
        text-align: right;
        width: 100%;
        transform: translate(-50% , -50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 2rem;
        text-align: right;

    }
    .home .home-banner-2 .home-banner-text .heading{
        font-size:3.65rem ;
        
        text-align:right;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
        text-align: right;
    }
    .home .home-banner .home-banner-text .btn{
        align-content: right;
        padding: 0.3rem 1.2rem;
    }

    .home .slider-icon{
        font-size: 2rem;
    }

    /*product css*/
    .products .up_to_content h2{
        font-size: 0.75rem;
    }

    /*special css*/
    .special{
        padding:4rem 0;
    }

    .special .countdown-container .countdown-counter li{
        padding:1rem;
        width:20%;
    }

    /*Testimonial*/
.testimonial .testimonial-wrapper{
    padding: 1rem;
}

.testimonial .carousel-control-prev,
    .testimonial .carousel-control-next{
    display:none;
}

}


@media (max-width:330px){
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }
    .home .home-banner .home-banner-text {
        align-content: right;
        padding: 0.3rem 1.2rem;
        font-size: 0.50rem;
    }


    /*product css*/
    .products .up_to_content h2{
        font-size: 0.625rem;
    }
}

